body {
    background-image: url(./background.jpg);
    color:white;
    text-decoration: none;
    margin: 0;
    /* -webkit-text-stroke: 1px black; */
}
a {
    color:white;
    text-decoration: none;
    /* border: 2px solid white;
    border-radius: 10px; */
    padding: 10px;
}
h1 {
    text-align: center;
    font-size: 50px;
    font-weight: 800;
    margin: 0;
    border-bottom: 2px solid white;
    padding-top: 30px;
    padding-bottom: 30px;
    text-shadow: 1px 1px gray;
}
li {
    padding-bottom: 30px;
}
ol {
    font-size: 25px;
    font-weight: bolder;
    margin: 0;
    border-right: 2px solid white;
    padding-top: 45px;
}
p {
    margin: 0;
    padding-left: 10px;
}
.grid {
    display: grid;
    grid-template-columns: 200px 1fr;
}
.article {
    padding-left: 30px;
    padding-top: 30px;
}
img {
    border:2px solid white;
    border-radius: 10px;
    cursor: pointer;
}
iframe {
    border:2px solid white;
    border-radius: 10px;
}
.sel01 {
    color: white;
    text-shadow: 1px 1px gray;
}
@media(max-width:770px) {
    .grid {
        display: block;
    }
    ol {
        padding-top: 20px;
        padding-bottom: 0;
        border-right: 0px;
        border-bottom: 2px solid white;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    a {
        border: 0;
    }
    li {
        padding-bottom: 20px;
        width:200px;
        margin-left: auto;
        margin-right: auto;    
    }
}